<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cross.ashpazi"  >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar"  >
        <activity
            android:name="com.cross.ashpazi.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" ></activity>
        <activity android:name=".IraniActivity" ></activity>
        <activity android:name=".FarangiActivity" ></activity>
        <activity android:name=".SaladActivity" ></activity>
        <activity android:name=".DessertActivity" ></activity>
        <activity android:name=".DetailActivity" ></activity>
    </application>

</manifest>
